* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#content-layer {
    position: relative;
    z-index: 1;
    padding: 2em;
    color: #fff;  /* Cambia el color del texto a blanco para contraste */
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.placeholder {
    width: 200px;
    height: 100px;
    background-color: #aaa;
    margin: 1em auto;
}
